@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
	margin: 0 !important;
}

span {
	text-shadow: 2px;
}

/* if laptop */
@media screen and (min-width: 1100px) {
	body {
		overflow-y: hidden;
		overflow-x: hidden;
	}

	.m{
		display: none;
	}

	.l {
		height: 100vh;
		width: 100vw;
		margin: 0 !important;
		padding: 0 !important;
		/*overflow-y: hidden;*/
	}

	.sidebar {
		display: inline-block;
		margin: 0 !important;
		height: 100%;
		width: 20vw;
		background: #F4F6F8 0% 0% no-repeat padding-box;
		opacity: 1;
	}

	.o1-logo {
		width: 75%;
		margin-left: 12.5%;
		margin-right: 12.5%;
		margin-top: 5vh;
	}

	.description {
		width: 75%;
		margin-left: 12.5%;
		margin-right: 12.5%;
		margin-top: 40px;

		display: flex;
		flex-direction: column;

		text-align: left;
		font-family: Poppins, Sans-serif;
		font-size: 1em;
		letter-spacing: 0px;
		color: #9f9f9f;
		opacity: 1;
	}

	.description > ol > li {
		color: #9f9f9f;
	}

	.description > ol > li { 
	   /*margin-bottom: 3vh;  */
	}

	.hcunite {
		color: #9f9f9f;
		text-decoration: underline;
	}

	.hcunite:visited {
		color: #9f9f9f;
	}

	.main {
		position: absolute;	 
		display: inline-block;
		margin: 0 !important;
		height: 100%;
		width: 80%;
		background: #FFFFFF 0% 0% no-repeat padding-box;
		opacity: 1;
	}

	.header {
		display: flex;
		align-items: baseline;
		justify-content: space-between;

		margin-top: 5vh;
		margin-left: 6%;
		margin-right: 6%;
	}

	.title {
		display: inline-block;

		text-align: left;
		font-family: Poppins, Sans-serif;
		font-size: 2em;
		font-weight: 600;
		letter-spacing: 0px;
		color: #000000;
		opacity: 1;
	}

	.updates {
		display: inline-block;
		float: right;

		text-align: right;
		font-family: Poppins, Sans-serif;
		font-size: 1em;
		letter-spacing: 0px;
		color: #9f9f9f;
		opacity: 1;
	}

	.scores {
		margin-top: 4%;
		margin-left: 6%;
		margin-right: 6%;
	}

	.scores > div {
		display: flex;
		align-items: center;

		border-radius: 20px;
		opacity: 1;
		color: #FFFFFF;
		font-family: Poppins, Sans-serif;
		font-weight: 600;
	}

	.scores > .two, .scores > .three, .scores > .four, .scores > .five {
		font-size: 2em;
	}

	.one {
		width: 100%;
		height: 16.7vh;
		background: transparent linear-gradient(90deg, #EC464A 0%, #F37377 100%) 0% 0% no-repeat padding-box;

		font-size: 3.5em;
	}

	.one > span {
		text-shadow: 2px 2px 20px red;
	}

	.two {
		margin-top: 6vh;
		width: calc((75000/100000)*100%);
		height: 10vh;
		background: transparent linear-gradient(90deg, #EBB244 0%, #FADCA5 100%) 0% 0% no-repeat padding-box;	
	}

	.two > span {
		text-shadow: 2px 2px 20px yellow;
	}

	.three {
		margin-top: 3vh;
		width: calc((70000/100000)*100%);
		height: 10vh;
		background: transparent linear-gradient(90deg, #70AE77 0%, #ABE8B0 100%) 0% 0% no-repeat padding-box;
	}

	.three > span {
		text-shadow: 2px 2px 20px green;
	}

	.four {
		margin-top: 3vh;
		width: calc((55000/100000)*100%);
		height: 10vh;
		background: transparent linear-gradient(90deg, #4665F5 0%, #AAB6F0 100%) 0% 0% no-repeat padding-box;
	}

	.four > span {
		text-shadow: 2px 2px 20px blue;
	}

	.five {
		margin-top: 3vh;
		width: calc((50000/100000)*100%);
		height: 10vh;
		background: transparent linear-gradient(90deg, #F1A9CF 0%, #FBD5EA 100%) 0% 0% no-repeat padding-box;
	}

	.five > span {
		text-shadow: 2px 2px 20px hotpink;
	}

	.place {
		padding-left: 2vw; 
	}

	.og {
		margin-left: 4vw;
	}

	.score {
		margin-right: 2vw;

		flex: 1;
		text-align: right;
	}

	.one {
		width: 100% !important;
	}

	/*yellow*/
	.two {
		width: calc((815/835)*100%) !important;
	}

	/*green*/
	.three {
		width: calc((765/835)*100%) !important;
	}

	/*blue*/
	.four {
		width: calc((655/835)*100%) !important;
	}

	/*pink?*/
	.five {
		width: calc((605/835)*100%) !important;
	}
}

/* if mobile */
@media screen and (max-width: 1100px) {
	body {
		overflow-y: scroll;
		overflow-x: hidden;	
	}

	body::-webkit-scrollbar {
	    display: none;
	}

	/*red*/
	.one {
		height: 60vh !important;
	}

	/*yellow*/
	.two {
		height: calc((815/835)*60vh) !important;
	}

	/*green*/
	.three {
		height: calc((765/835)*60vh) !important;
	}

	/*blue*/
	.four {
		height: calc((655/835)*60vh) !important;
	}

	/*pink?*/
	.five {
		height: calc((605/835)*60vh) !important;
	}




	.l {
		display: none;
	}

	.m {
		height: 200vh;
		width: 100vw;
		margin: 0 !important;
		padding: 0 !important;
		/*overflow-y: hidden;*/
	}

	.title-screen {
		width: 60vw;
		height: 100vh;
		margin-left: 20vw;
		margin-right: 20vw;

		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
	}

	.title-flexbox {
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
	}

	.o1-logo {
		width: 60vw;
		height: 60vw;
		margin-bottom: 2vh;
	}

	.title {
		font-family: Poppins, Sans-serif;
		font-size: 3.5em;
		font-weight: 600;
		color: #000000;
		opacity: 1;
		margin-left: 6vw;
		margin-right: 6vw;
	}

	.updates {
		font-family: Poppins, Sans-serif;
		font-size: 2em;
		letter-spacing: 0px;
		color: #9f9f9f;
		opacity: 1;
		margin-left: 6vw;
		margin-right: 6vw;
	}

	.down-carat {
		font-family: monospace;
		font-size: 3.5em;
		font-weight: 600;	
		width: 60vw;
		text-align: center;

		position: absolute;
		bottom: 4vh;

		-webkit-transform: translate(-50%, 0%);
		-moz-transform: translate(-50%, 0%);
		transform: translate(-50%, 0%);
		-webkit-animation: fade_move_down 2s ease-in-out infinite;
		-moz-animation: fade_move_down 2s ease-in-out infinite;
		animation: fade_move_down 2s ease-in-out infinite;
	}

	@-webkit-keyframes fade_move_down {
		0% { -webkit-transform:translate(0,-20px); opacity: 0;  }
		50% { opacity: 1;  }
		100% { -webkit-transform:translate(0,20px); opacity: 0; }
	}
	@-moz-keyframes fade_move_down {
		0% { -moz-transform:translate(0,-20px); opacity: 0;  }
		50% { opacity: 1;  }
		100% { -moz-transform:translate(0,20px); opacity: 0; }
	}
	@keyframes fade_move_down {
		0% { transform:translate(0,-20px); opacity: 0;  }
		50% { opacity: 1;  }
		100% { transform:translate(0,20px); opacity: 0; }
	}

	/*done*/

	.next-screen {
		width: 90vw;
		height: 100vh;

		margin-left: 5vw;
		margin-right: 5vw;

		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}

	.scores {
		display: flex;
		justify-content: space-around;
		align-items: flex-end;
		width: 90vw;
		margin-top: 5vh;
	}

	.scores > div {
		display: flex;
		flex-direction: column;
		justify-content: center;

		border-radius: 20px;
		opacity: 1;
		color: #FFFFFF;
		font-family: Poppins, Sans-serif;
		font-weight: 600;
	}

	.scores > .two, .scores > .three, .scores > .four, .scores > .five {
		font-size: 2em;
	}

	/*red*/
	.one {
		width: 18vw;
		height: 60vh;
		background: transparent linear-gradient(0deg, #EC464A 0%, #F37377 100%) 0% 0% no-repeat padding-box;

		font-size: 3.5em;
	}

	/*yellow*/
	.two {
		margin-left: 4vw;
		width: 14vw;
		height: calc((75000/100000)*60vh);
		background: transparent linear-gradient(0deg, #EBB244 0%, #FADCA5 100%) 0% 0% no-repeat padding-box;	
	}

	/*green*/
	.three {
		margin-left: 3vw;
		width: 14vw;
		height: calc((70000/100000)*60vh);
		background: transparent linear-gradient(0deg, #70AE77 0%, #ABE8B0 100%) 0% 0% no-repeat padding-box;
	}

	/*blue*/
	.four {
		margin-left: 3vw;
		width: 14vw;
		height: calc((55000/100000)*60vh);
		background: transparent linear-gradient(0deg, #4665F5 0%, #AAB6F0 100%) 0% 0% no-repeat padding-box;
	}

	/*pink?*/
	.five {
		margin-left: 3vw;
		width: 14vw;
		height: calc((50000/100000)*60vh);
		background: transparent linear-gradient(0deg, #F1A9CF 0%, #FBD5EA 100%) 0% 0% no-repeat padding-box;
	}

	.one > div {
		text-shadow: 2px 2px 20px red;
	}
	.two > div {
		text-shadow: 2px 2px 20px yellow;
	}
	.three > div {
		text-shadow: 2px 2px 20px green;
	}
	.four > div {
		text-shadow: 2px 2px 20px blue;
	}
	.five > div {
		text-shadow: 2px 2px 20px hotpink;
	}

	.og {
		margin-bottom: 2vh;
		text-align: center;
	}

	.score {
		display: flex;
		align-items: center;
		justify-content: left;
		margin-top: 4vh;
		flex: 1;
		writing-mode: vertical-rl;
	}

	.description {
		width: 90vw;
		margin-top: 40px;

		display: flex;
		flex-direction: column;

		text-align: left;
		font-family: Poppins, Sans-serif;
		font-size: 2em;
		color: #9f9f9f;
		opacity: 1;
	}

	.description > ol {
		margin-top: 2vh;
		margin-bottom: 2vh;
	}

	.description > ol > li {
		color: #9f9f9f;
	}

	.description > ol > li:not(:last-child) { 
	   margin-bottom: 2vh;  
	}

	.hcunite {
		color: #9f9f9f;
		text-decoration: underline;
	}

	.hcunite:visited {
		color: #9f9f9f;
	}
}